footer {
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  border-top: 1px solid;
  border-top-color: #CCCCCC;
  bottom: 0;
  position: absolute;
}
div {
  text-align: center;
  margin-top: 25px;
}